@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Lora:wght@400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    font-size: 10px;
    height: 100%;
    background-color: #031776;
    justify-content: center;
    font-family: Rubik, Arial;
}
