.links-container-d {
    max-width: 600px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    overflow: hidden;
}

.links-container-d a {
    display: flex;
    height: 99%;
    margin: 1.5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    color: azure;
    font-weight: 500;
    padding-right: 1em;
    padding-left: 1em;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.button1d {
    background-color: #32A7F4;
}

.button2d {
    background-color: #115BBA;
}

.button3d {
    background-color: #DB34B7;
}

.button4d {
    background-color: #D83250;
}
