.links-container-pack {
    max-width: 600px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.links-container-pack a {
    display: flex;
    height: 99%;
    margin: 1.5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    color: azure;
    font-weight: 500;
    padding-right: 1em;
    padding-left: 1em;
    overflow-wrap: break-word;
    hyphens: auto;
}


.button1pack {
    background-color: #E800A4;
}

.button2pack {
    background-color: #84AFF4;
}

.button3pack {
    background-color: #EDA257;
}

.button4pack {
    background-color: #E15665;
}

.button5pack {
    background-color: #37ABED;
    display: flex;
    hyphens: initial;
}